<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header">
    <img src="../../assets/images/logo1.jpg" height="60px" width="100px" >

  <div class="header-right">
    <a href="">Home</a>
    <a href="">Logout</a>
  </div>
  </div>

  <div class="body" >

      <div class="menudiv">
            <div class = "menu1">
              <p style="color: black">Welcome</p>
              <p style="color: black">User</p>
            </div>
  
            <div class="menu">
             <ul>
              <li><a  href="#home">Profile</a></li>
              <li><a href="#news">My Plan</a></li>
              <li><a href="#contact">Goals</a></li>
              <li><a href="#about">Update</a></li>
             </ul>
             </div>
      </div>
      
    <div class="goals1">
        <p>Weight Loss</p>
      </div>

      <div class="goals2">
          <p>Nutrition</p>
      </div>

      <div class="goals3">
          <p>Stamina</p>
      </div>
    </div>












  

  

 

      
