<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header">
    <img src="../../assets/images/logo1.jpg" height="60px" width="100px" >

  <div class="header-right">
    <a href="">Home</a>
    <a href="">Logout</a>
  </div>
  </div>

  <div class="body" >

        <div class="menudiv">
              <div class = "menu1">
                <p style="color: black"> Welcome</p>
                <p style="color: black">User</p>
              </div>
    
              <div class="menu">
               <ul>
                <li><a  href="#home" routerLink="/myprofile" routerLinkActive="active">Profile</a></li>
                <li><a href="#news"style="font-weight:bolder; background-color: rgb(226, 210, 63)">My Plan</a></li>
                <li><a routerLink="/goals" routerLinkActive="active">Goals</a></li>
                <li><a href="#about">Update</a></li>
               </ul>
               </div>
        </div>
        
      <div class="goals1">
            <div class = "info1"> 
        <h2>Plan Information</h2>
           Duration<br>
          <br> Start Date<br>
          <br>End Date<br>
        </div>

        </div>
  
        <div class="goals2">
            <div class="pic1">
                <img src="../../assets/images/coach.png" height="130px" width="200px" border-radius="20%" overflow="hidden" >
          </div>

          <div class = "info1"> 
              <h2>My Coach</h2>
                 Specialization<br>
                <br> Coach Information<br>
              </div>

              <a href="#" class="button">Profile</a>
            
        </div>
  
        <div class="goals3">
          <div class = "info1"> 
              <h2>Course Details</h2>
                 Course Type:<br>
              </div>
            
        </div>
      </div>  